@font-face {
    font-family: 'TT Lakes';
    src: url('../style/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../style/fonts/TTLakes-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('../style/fonts/TTLakes-Regular.woff') format('woff'),
        url('../style/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../style/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../style/fonts/TTLakes-Medium.eot?#iefix')
            format('embedded-opentype'),
        url('../style/fonts/TTLakes-Medium.woff') format('woff'),
        url('../style/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../style/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../style/fonts/TTLakes-Bold.eot?#iefix')
            format('embedded-opentype'),
        url('../style/fonts/TTLakes-Bold.woff') format('woff'),
        url('../style/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'TT Lakes', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper__sliders {
    box-sizing: border-box;
    height: 250px;
    overflow: hidden;
    background-color: #dddddd;
    border-top: 1px solid #d9fff5;
}

.title {
    height: 80px;
    background: linear-gradient(to right, #dddddd 0%, #fff 50%);
}

.wrapper__sliders__title {
    display: flex;
    align-items: center;
}

/* .swiper-wrapper {
    display: block;
}

.container {
    display: none;
} */

.title__text {
    font-weight: 400;
    font-size: 16px;
    color: #7e7e82;
    padding-left: 16px;
}

/* .sviper-slides {
    display: block;
    padding-top: 16px;
} */

/* .box__container {
    padding-top: 16px;
} */

/* .slide, */
.container__slide {
    /* display: block; */
    margin-top: 16px;
    width: auto;
}

.container__slide:first-child {
    margin-left: 16px;
}

/* .slider-box {
    margin: auto;
} */

.slide__box__img {
    display: block;
    width: 240px;
    height: 72px;
}

.lenovo {
    background: url('../style/img/lenovo.png') no-repeat;
    background-size: contain;
}

.sony {
    background: url('../style/img/sony.png') no-repeat;
    background-size: contain;
}

.samsung {
    background: url('../style/img/samsung.png') no-repeat;
    background-position: -5px 0;
}

.acer {
    background: url('../style/img/acer.png') no-repeat;
    background-size: contain;
}

.apple {
    background: url('../style/img/apple.png') no-repeat;
    background-size: contain;
}

.bosh {
    background: url('../style/img/bosh.png') no-repeat;
    background-size: contain;
}

.hp {
    background: url('../style/img/hp.png') no-repeat;
    background-size: contain;
}

.viesonic {
    background: url('../style/img/viewsonic.png') no-repeat;
    background-size: contain;
}

.swiper-pagination-bullet {
    position: relative;
    top: -333px;
    width: 15px;
    height: 15px;
    margin-right: 20px !important;
}

.swiper-pagination-bullet-horizontal {
    margin-right: 16px;
}

.swiper-pagination-bullet-active {
    background: #7e7e82;
}

.wrapper__sliders__btn {
    display: none;
}

.wrapper-show-more {
    height: 440px;
}

@media (768px <= width < 1120px) {
    .wrapper__sliders {
        min-height: 300px;
    }

    .title {
        height: 56px;
    }

    .title__text {
        padding-left: 24px;
    }

    .swiper-container, .swiper-wrapper, .swiper-slide {
        display: none;
    }

    .box {
        display: block;
        padding: 24px 24px 0 24px;
    }

    .box__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 910px;
        margin: auto;
    }

    .container__slide {
        display: block;
        margin: 0 !important;
        padding-bottom: 16px;
    }

    .samsung {
        background-position: -5px 0;
    }

    .container__slide:first-child {
        margin-left: 0;
    }

    .swiper-pagination-bullets {
        display: none;
    }

    .hidden {
        display: none;
    }

    .wrapper__sliders__btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        background-color: #ddd;
        padding-left: 24px;
    }

    .wrapper__sliders__btn:hover {
        cursor: pointer;
    }

    .btn-show::before {
        position: relative;
        display: block;
        content: '';
        background: url('../style/img/expand.png') no-repeat;
        width: 24px;
        height: 24px;
        /* cursor: pointer; */
        margin-right: 10px;
    }

    .btn-show::after {
        content: 'Показать всё';
        font-size: 16px;
        font-weight: 500;
        color: black;
        position: relative;
    }

    .btn-hide::before {
        position: relative;
        display: block;
        content: '';
        background: url('../style/img/expand.png') no-repeat;
        transform: rotate(180deg);
        width: 24px;
        height: 24px;
        /* left: -6px; */
        margin-right: 10px;
    }

    .btn-hide::after {
        content: 'Скрыть';
        font-size: 16px;
        font-weight: 500;
        color: black;
        position: relative;
    }
}

@media (1120px <= width) {
    .wrapper__sliders {
        min-width: 1120px;
        min-height: 300px;
    }

    .title__text {
        padding-left: 32px;
    }

    .title {
        height: 56px;
    }

    .swiper-container, .swiper-wrapper, .swiper-slide {
        display: none;
    }

    .box {
        display: block;
        padding: 24px 32px 0 32px;
    }

    .box__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1120px;
        margin: auto;
    }

    .container__slide {
        display: block;
        margin: 0 !important;
        padding-bottom: 16px;
    }

    .samsung {
        background-position: -5px 0;
    }

    .container__slide:first-child {
        margin-left: 0;
    }

    .swiper-pagination-bullets {
        display: none;
    }

    .hidden {
        display: none;
    }

    .wrapper__sliders__btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        background-color: #ddd;
        padding-left: 32px;
    }

    .wrapper__sliders__btn:hover {
        cursor: pointer;
    }

    .btn-show::before {
        position: relative;
        display: block;
        content: '';
        background: url('../style/img/expand.png') no-repeat;
        width: 24px;
        height: 24px;
        left: -5px;
    }

    .btn-show::after {
        content: 'Показать всё';
        font-size: 16px;
        font-weight: 500;
        color: black;
        position: relative;
    }

    .btn-hide::before {
        position: relative;
        display: block;
        content: '';
        background: url('../style/img/expand.png') no-repeat;
        transform: rotate(180deg);
        width: 24px;
        height: 24px;
        left: -5px;
    }

    .btn-hide::after {
        content: 'Скрыть';
        font-size: 16px;
        font-weight: 500;
        color: black;
        position: relative;
    }
}
